{% extends "layout.html" %}
{% block content %}
<h2>会社概要</h2>
<div class="about">
  <table class="table-1">
    <tr>
      <th width="80px" class="table-head">社名</th>
      <th>株式会社エンジニアズ</th>
    </tr>
    <tr>
      <td class="table-head">所在地</td>
      <td>〒 530-0047<br>大阪市北区西天満 3丁目 6番 22号<br>日宝北大阪屋ビル 503号室</td>
    </tr>
  </table>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3280.9214153021644!2d135.4998785152317!3d34.6819327804394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e6fc530fffff%3A0xae8b5e0511031617!2z5qCq5byP5Lya56S-44Ko44Oz44K444OL44Ki44K6!5e0!3m2!1sja!2sjp!4v1600914814545!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="false" aria-hidden="false" tabindex="0">
  </iframe>
  <table class="table-2">
      <tr>
        <th width="100px" class="table-head">連絡先</th>
        <th>TEL 06-6809-3816<br>FAX 06-6948-5403</th>
      </tr>
      <tr>
        <td class="table-head">ホームページ</td>
        <td><a href="https://engineers.co.jp"></a>https://engineers.co.jp</td>
      </tr>
      <tr>
        <td class="table-head">設立</td>
        <td>平成27年9月18日</td>
      </tr>
      <tr>
        <td class="table-head">資本金</td>
        <td>300万円</td>
      </tr>
      <tr>
        <td class="table-head">代表取締役</td>
        <td>石川鉄三</td>
      </tr>
      <tr>
        <td class="table-head">事業内容</td>
        <td>AI・ IoTシステム開発<br>WEBシステム 開発</td>
      </tr>
      <tr>
        <td class="table-head">取引先銀行</td>
        <td>池田泉州銀行 大阪西支店<br>みずほ銀行 船場支店<br>三井住友銀行 御堂筋支店<br>三菱東京UFJ銀行 信濃橋支</td>
      </tr>
      <tr>
        <td class="table-head">主要取引先</td>
        <td>ロジカル・アーツ株式会社<br>株式会社ウィズオノウェア<br>株式会社キャリアビート<br>エヌアイシィ株式会社<br>
            株式会社J&C SOLUTION<br>株式会社クロノス<br>株式会社セレクティ<br>株式会社ネクストメイク<br>
            ARアドバンストテクノロジ株式会社<br>フルタニ産業株式会社<br>株式会社テクニカルシステムサポート<br>
            ケイプラス株式会社<br>他多数</td>
      </tr>
      <tr>
        <td class="table-head">顧問税理士</td>
        <td>村田健吾税理士事務所　村田 健吾</td>
      </tr>
      <tr>
        <td class="table-head">顧問社労士</td>
        <td>七志恵社労士事務所　濵中理恵</td>
      </tr>
    </table>
    <h2>企業沿革</h2>
    <table class="table-3">
      <tr>
        <th width="100px">2015年9月</th>
        <th>大阪市西区にてシステムフォーカスタマー株式会社設立</th>
      </tr>
      <tr>
        <td>2016年4月</td>
        <td>大阪商工会議所加入</td>
      </tr>
      <tr>
        <td>2018年6月</td>
        <td>JIET（日本情報技術取引所 ）加入</td>
      </tr>
      <tr>
        <td>2019年1月</td>
        <td>株式会社エンジニアズに社名変更</td>
      </tr>
      <tr>
        <td>2020年1月</td>
        <td>資本金を 300万円に増資</td>
      </tr>
      <tr>
        <td>2020年6月</td>
        <td>本店事務所を大阪市北区西天満に移転</td>
      </tr>
    </table>
</div>
{% endblock %}