<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/stylesheet.css') }}">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="static/js/script.js"></script>
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <div>
        <p class="header-logo">
          Powered by
          <a href="https://engineers.co.jp">
            株式会社エンジニアズ
          </a>
        </p>
      </div>
    </header>
    <div class="loading">
      <img src="static/img/loading.gif" alt="Loading..." />
    </div>
    <div class="main-content">
      {% block content %}
      <!-- main contents -->
      {% endblock %}
    </div>
    <footer>
      <p>&copy; All rights reserved by 2020 Engineers.co.jp</p>
    </footer>
  </body>
</html>